# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Extract Website'
      'submenu': [
        {
          'label': 'Extract Link URLs'
          'command': 'extract-web:extract-link-urls'
        }
        {
          'label': 'Extract Image URLs'
          'command': 'extract-web:extract-image-urls'
        }
      ]
    ]
  }
]
